.title {
  margin: 10px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.counter {
	margin: 10px;
	font-family: 'Inconsolata', serif;
	font-size: 24px;
}

.button {
	font-size: 48px;
}

.genStyleFont13 {
	font-size: 13px;
}